@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D2043;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0D2043;
  color: #ffffff;
}

@layer components {
  .section-pad {
    @apply py-24 px-4 md:px-8 lg:px-16;
  }
  .gold-line {
    @apply w-16 h-px bg-gold;
  }
}
